# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PycharmProjects\TCM_Syndrome_Association_Rules_System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
